<body>
  <div class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col justify-stretch items-center min-h-[100dvh]">
      <%- include('./../components/user-navbar.ejs') %>
      <%- include('./seller-stats.ejs') %>
    </div>
    <div class="drawer-side">
      <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu min-h-full w-80 bg-base-200 p-4 text-base-content">
        <%# sidebar cintent %>
        <%- include('./side-bar.ejs') %>
      </ul>
    </div>
  </div>
</body>